# Practice Exercise

Question 1: Let us start by printing the word "Welcome to the practice exercise" in python.

In [1]:
# Print the statement:

print("Welcome to the practice exercise")

Welcome to the practice exercise

Question 2: Create a string variable and print the string.

In [2]:
# Create a string variable:
var = "Hello"

# Print the string:
print(var)

Hello

Question 3: Create a string by taking user input and print the string.

In [3]:
# Create a string variable taking user input:

user_name= input("Please enter your name:")

# Print the string:
print(user_name)

Please enter your name:Sarvesh
Sarvesh

In [ ]:
total_price

user_name

Question 4: Print the pattern given below:



![image.png]()

In [4]:
# Print the pattern shown in the question above:

print("  1  ")
print(" 234 ")
print("56789")

  1
 234
56789

Question 5: Print the '#' symbol 15 times without having to type it for 15 times.

In [5]:
# Print the pattern shown in the question above:

print("#" * 15)

###############

Question 6: Take the user input to print the current date

In [13]:
test_var = input("Enter something:")

Enter something:2025-02-28

In [14]:
type(test_var)

str

In [ ]:
from datetime import datetime

In [15]:
test_var = datetime.strptime(test_var, "%Y-%m-%d").date()

In [16]:
type(test_var)

datetime.date

In [7]:
user_input = input("Enter the date (YYYY-MM-DD): ")

print(user_input)

Enter the date (YYYY-MM-DD): 2025-02-28
2025-02-28

In [6]:
# Take the user input into a string:

user_input = input("Enter the date (YYYY-MM-DD): ")



user_input = datetime.strptime(user_input, "%Y-%m-%d").date()

print("You have entered the date: ", user_input)

# Print the date:

Enter the date (YYYY-MM-DD): 2025-03-01
You have entered the date:  2025-03-01

Question 7: Type cast the float 1.8 into a string and print the result.

In [19]:
# Store the float as a varaible:

type_cast_example = 1.8

# Typecast the float to string:
type_cast_example = str(type_cast_example)


# Print the result:
print(type(type_cast_example))

print(type_cast_example)

<class 'str'>
1.8

In [20]:
type_cast_example + 1

TypeError: can only concatenate str (not "int") to str

Question 8: Find the product of two numbers input by the user.

In [23]:
### Take input of the first number and store it in a variable:

num1 = int(input("Enter the first number: "))

num2 = int(input("Enter the second number: "))

# Take input of the second number and store it in a variable:

prod = num1 * num2

# You will need to typecast the input strings into integers
# Calculate the product:
# Print the result:

print(prod)

Enter the first number: 10
Enter the second number: 5
50

Question 9: Calculate the remainder of the number 6 when divided by the number 4.

# Find the modulus and print the result:

In [26]:
print("The remainder is:", 6 % 4)

The remainder is: 2

Question 10: Solve the error in code below and print the correct result.

In [ ]:
# Given:

# Corrected solution:

Question 11: Print the following statement using only 1 print statement:

Hello

Good Morning

In [ ]:
\n --> Newline
\t --> Tab (Horizontalspace)
\\ --> When inportingthe file-> Where I want to use the backspash instead of cond it as a escape seq
\'
\"
\r -> Carriage return
\b-backspace
\f -> Form Feed
\v -> vertical tab

In [35]:
# Print the required statement:

print("Hello\rGood Morning")

Good Morning

In [34]:
print('It\'s a great" day')

It's a great" day

Question 12: Concatenate the given strings and print the result:

In [38]:
# Given below are the two strings:
string1 = "Welcome to this session "
string2 = "Coding practice session"

# Concatenate and print the result:
print(string1 + string2)

Welcome to this session Coding practice session

Question 13: Find the length of string given below and print the result.

In [39]:
# Given below is the string:
sample_str = "Hello"

# Calculate and print the length:
len(sample_str)

5

In [46]:
test = "pres5entation"

In [47]:
test[4]

'5'

In [48]:
test[-1]

'n'

Question 14: Create a string of length=10. Obtain the fifth and seventh character of the string. Concatenate the characters and form a new string. Print the new string.

In [ ]:
# Create a string of length 10:

# You can verify the length:
#print(len(str1))

# Obtain the fifth letter and store it into a new string:

# Obtain the seventh letter and store it into a new string:

# Concatenate the two strings:

# Print the result:

Question 15: Given below is a string. Perform the following operations and print the results:
1. Remove the extra spaces from the string and print the new string.
2. Find the length of new string
3. Remove the last 5 characters of the new string
4. Find the 15th character of the new string
5. Compute the result of concatenation of the first and last letter of the new string.

In [ ]:
# Given below is the string:

# Removing extra spaces:

# Print the result:

# Calculate the length:

# Slice the string to remove the last 5 characters:

# Print the result:

# Print the 15th character of the string:

# Print the concatenation of first and last character of resulting string: