In [15]:
empty_list = []

In [16]:
empty_list

[]

In [8]:
fruits = ['apple', 'banana', 'orange', "pineapple", 1, 1.5, True]

In [9]:
fruits[0]

'apple'

In [10]:
fruits[1]

'banana'

In [11]:
fruits[2]

'orange'

In [12]:
fruits[-1]

True

In [13]:
fruits[0] = "Hello"

In [14]:
fruits

['Hello', 'banana', 'orange', 'pineapple', 1, 1.5, True]

1. Lists are ordered
2. Lists are Mutable
3. Heterogeneous variables

In [17]:
initial_list =[]

print(initial_list)

[]

In [18]:
languages = ["R", "Python", "Scala", "SAS"]

In [19]:
languages[0]

'R'

In [20]:
languages.append("Java")

In [21]:
print(languages)

['R', 'Python', 'Scala', 'SAS', 'Java']

In [24]:
languages[1:4]

['Python', 'Scala', 'SAS']

In [30]:
languages[1,3]

TypeError: list indices must be integers or slices, not tuple

In [32]:
for i in [1,3]:
    print(languages[i])

Python
SAS

Filter Values based on the List

Add values to the list

In [33]:
languages

['R', 'Python', 'Scala', 'SAS', 'Java']

In [34]:
languages.insert(1, "C++")

In [35]:
languages

['R', 'C++', 'Python', 'Scala', 'SAS', 'Java']

In [41]:
for i in [1,0,4,3,5,2]:
    print([languages[i]])

['C++']
['R']
['SAS']
['Scala']
['Java']
['Python']

In [42]:
[languages[i] for i in [1,0,4,3,5,2]]

['C++', 'R', 'SAS', 'Scala', 'Java', 'Python']

[expression for item in i if condition]

In [43]:
numbers  = [1, 2, 3, 4, 5]

In [50]:
squares = []
for i in numbers:
    squares.append(i ** 2)
    
print(squares)

[1, 4, 9, 16, 25]

In [51]:
[i**2 for i in numbers]

[1, 4, 9, 16, 25]

In [52]:
numbers

[1, 2, 3, 4, 5]

In [53]:
[i for i in numbers if i % 2 == 0 ]

[2, 4]

In [54]:
numbers

[1, 2, 3, 4, 5]

In [55]:
["Even" if i % 2 == 0 else "Odd" for i in numbers]

['Odd', 'Even', 'Odd', 'Even', 'Odd']

In [57]:
["Even" if i % 2 == 0 else "Odd" for i in numbers]

['Odd', 'Even', 'Odd', 'Even', 'Odd']

In [58]:
numbers

[1, 2, 3, 4, 5]

In [59]:
labels = []

for i in numbers:
    if i % 2 == 0:
        labels.append("Even")
    else:
        labels.append("Odd")

In [60]:
print(labels)

['Odd', 'Even', 'Odd', 'Even', 'Odd']

### Generate a Multiplication Table:

In [62]:
for i in range(1, 4):
    print(i)

1
2
3

In [63]:
[[x * y for y in range(1, 4)] for x in range(1, 4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [65]:
table = []

for x in range(1, 4):
    row = []
    for y in range(1, 4):
        row.append(x * y)
    table.append(row)

In [66]:
table

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

Remove last element from the list

In [67]:
numbers

[1, 2, 3, 4, 5]

In [68]:
numbers.pop()

5

In [70]:
numbers

[1, 2, 3, 4]

In [74]:
numbers = numbers[:-1]

In [75]:
print(numbers)

[1, 2, 3]

In [78]:
del numbers[-1]

In [79]:
numbers

[1, 2]

Remove elements from the list by indexing

In [80]:
numbers=[1,2,3,4,5]

In [81]:
numbers

[1, 2, 3, 4, 5]

In [83]:
del numbers[2]

In [84]:
numbers

[1, 2, 4, 5]

In [86]:
numbers.pop(1)

2

In [87]:
numbers

[1, 4, 5]

Add and remove elements from list

Find the Identity of the object

In [94]:
my_list = [10,"apple", [1,2,3], {"Name": "Ramesh"}]

In [95]:
print(my_list)

[10, 'apple', [1, 2, 3], {'Name': 'Ramesh'}]

In [104]:
for i in my_list:
    print(f"Value --> {i} MemoryID --> {id(i)}")

Value --> 10 MemoryID --> 140707301987400
Value --> apple MemoryID --> 2795111203248
Value --> [1, 2, 3] MemoryID --> 2795132233792
Value --> {'Name': 'Ramesh'} MemoryID --> 2795132181376

copy() in python

In [163]:
numbers = [1, 2, 3, 4, 5]

In [164]:
numbers_copy = numbers.copy()

In [165]:
numbers_copy[1] = 99999

In [166]:
print(numbers)

[1, 2, 3, 4, 5]

In [167]:
print(numbers_copy)

[1, 99999, 3, 4, 5]

In [168]:
numbers = [1, 5]

In [169]:
print(numbers_copy)

[1, 99999, 3, 4, 5]

In [155]:
original = [1,2,3,4,5]

In [156]:
import copy

deep_copied_list = copy.deepcopy(original)

In [157]:
print(deep_copied_list)

[1, 2, 3, 4, 5]

In [158]:
deep_copied_list[3] = 99

In [159]:
deep_copied_list

[1, 2, 3, 99, 5]

In [160]:
print(original)

[1, 2, 3, 4, 5]

In [161]:
print(deep_copied_list)

[1, 2, 3, 99, 5]

Split sentence in python

In [174]:
sentence="Hello, this is to inform you that I am not well today"

In [171]:
sentence.split()

['Hello,',
 'this',
 'is',
 'to',
 'inform',
 'you',
 'that',
 'I',
 'am',
 'not',
 'well',
 'today']

In [176]:
sample_sentence_split = sentence.split(",")

In [178]:
",".join(sample_sentence_split)

'Hello, this is to inform you that I am not well today'

In [180]:
" ".join(sample_sentence_split)

'Hello  this is to inform you that I am not well today'

Multiplication and addition operations in list

In [190]:
num1 = [1, 0, 2, 85, 3, 4, 99,5 ]

num2 = [6, 7, 8, 9, 10]

In [183]:
num1 + num2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [185]:
num1 * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

Sort, max, min operations using list

In [186]:
max(num1)

5

In [187]:
min(num1)

1

In [191]:
sorted(num1)

[0, 1, 2, 3, 4, 5, 85, 99]

nested list

In [192]:
nest_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [193]:
print(nest_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [194]:
nested_list = [[10, 20], [30, 40]]

In [195]:
print(nested_list[1])

[30, 40]

In [196]:
print(nested_list[0])

[10, 20]

In [197]:
nest_list[1][1] = 99

In [198]:
nest_list

[[1, 2, 3], [4, 99, 6], [7, 8, 9]]

In [199]:
nest_list.append([10, 11])

In [200]:
nest_list

[[1, 2, 3], [4, 99, 6], [7, 8, 9], [10, 11]]